body,
html{
	min-height: 100%;
}
table, th, td{
	border: 1px solid black;
	text-align: center;
	line-height: 25px;
}
table.center{
	width: 70%; 
    margin-left: 15%; 
    margin-right: 15%;
}
.navbar a{
	text-decoration: none;
	list-style-type: none;
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	overflow: hidden;
	color: black;
	text-align: center;
	font-size: 14px;
	padding-top: 10px;
}
#branding{
	position: fixed;
	padding-right: 200px;
	margin-top: 0;
	background-color: white;
	top: 0;
}
#branding img{
	padding-top: 50px;
}
body{
	padding-left: 200px;
	padding-right: 200px;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 14px;
	line-height: 30px;
}
#logo{
	float: left;
}
h1, h3{
	text-align: center;
}
h1{
	padding-top: 160px;
}
.label{
	font-size: 25px;
	font-weight: bold;
	padding: 10px;
}
.container img{
	width: 50%; 
    margin-left: 25%; 
    margin-right: 15%;
}
.container{
	margin: 100px;
}
.table-title{
	font-size: 18px;
	font-weight: bold;
	background-color: #ddd;
	color: black;
}