body,
html{
	min-height: 100%;
}

body{
	font-family: Arial, Helvetica, San-serif;
	margin: 100px;
	min-height: 100px;
	padding-left: 200px;
	padding-right: 200px;
}
h1{
	font-size: 40px;
	text-align: center;
}
#branding{
	text-align: center;
	font-size: 30px;
	font-family: Calibri, Helvetica, sans-serif;
}
li:hover{
	opacity: .5;
}
.menu a{
	text-decoration: none;
	list-style-type: none;
	display: inline-block;
	font-size: 15px;
	padding-left: 10px;
	color: black;
	font-weight: bold;
}

.container{
	text-align: center;
}
p{
	text-align: center;	
}
i{
	border: solid ;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.down{
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	color: black;
}
.down:hover,
h2 a:hover{
	opacity: .5;
}
.container p{
	margin-right: 100px;
	margin-left: 100px;
}
#news{
	padding-top: 100px;
	padding-bottom: 100px;
	border-bottom: 1px solid black;
}
.container img{
	width: 350px;
	height: 350px;
}
.read a{
	color: black;
}
#logo{
	width: 100px;
	height: 100px;
	float: left;
}
footer img{
	float: left;
	width: 100px;
	height: 100px;
}
footer{
	line-height: 5px;

}
footer h2{
	font-size: 15px;
	padding-top: 40px;
}
footer h4{
	font-size: 15px;
}