body{
	font-family: Arial, Sans-serif;
	font-size: 16px;
	line-height: 30px;
	min-width: 100%;
}
.menu{
	background-color: white;
	padding: 0px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.menu a{
	text-decoration: none;
	list-style: none;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;

}

.menu li{
	text-align: center;
	display: inline-block;
	padding: 0px 0px;
	color: black;
	padding-right: 20px;
}
#logo{
	float: left;
	width: 9%;
	height: 9%;
	background-color: white;
}
#fixed{
	padding-top: 10px;
	padding-bottom: 5px;
	position: fixed;
	top: 0;
	overflow: hidden;
	background-color: white;
}
#news{
	margin-top: 200px;
}
.container{
	padding: 50px;
}
.container h1{
	padding-top: 200px;
}
h1{
	text-align: center;
}
.container img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 580px;
	height: 470px;
}
.container a{
	color: black;
	text-decoration: none;
}
h2{
	text-align: center;
}
footer img{
	width: 5%;
	height: 5%;
	float: left;
}
footer h2, footer h4{
	font-size: 12px;
	text-align: justify;
}




























