body,
html{
	min-height: 100%;
}
.navbar a{
	text-decoration: none;
	list-style-type: none;
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	overflow: hidden;
	color: black;
	text-align: center;
	font-size: 14px;
	padding-top: 10px;
}
body{
	padding-left: 200px;
	padding-right: 200px;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 14px;
}
#logo{
	float: left;
}
figure{
	display: table;
}
figcaption{
	display: table-caption;
	caption-side: bottom;
	padding-left: 100px;
}
.image{
	float: left;
	padding-left: 100px;
}
#terminology{
	padding-top: 300px;
	text-align: center;
}
table, th, td{
	border: 1px solid black;
	text-align: center;
}
table.center{
	width:70%; 
    margin-left:15%; 
    margin-right:15%;
}
#types, #symptoms{
	float: left;
}
#ischemic{
	padding-top: 350px;
}
#patho{
	padding: 100px;
	text-align: center;
}
#emergency{
	border: 5px solid black;
	width: 70%;
    margin-left:15%; 
    margin-right:15%;
}
.container{
	padding-bottom: 100px;
}
#introduction, #angina{
	padding-top: 100px;
	text-align: center;
}
#sbar{
	text-align: center;
}